/* body{
    background-image: linear-gradient(purple,black);
    background-repeat: no-repeat;

}
.edehprank{
    /* background-image: linear-gradient(blue,red); */
/* padding: 20px 0px; */
/* gap: 20px; */
/* } */
.bro{
    background-color: red;
}